.main {
  overflow: hidden;
  min-height: 100vh;
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 27%,
    rgba(45, 211, 255, 1) 87%,
    rgba(0, 255, 188, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 27%,
    rgba(45, 211, 255, 1) 87%,
    rgba(0, 255, 188, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 27%,
    rgba(45, 211, 255, 1) 87%,
    rgba(0, 255, 188, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#00ffbc",GradientType=1);
}

@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

.welcomeMessage {
  font-family: 'Cookie', cursive;
  font-size: 30px !important;

  display: flex;
  align-items: center;
  height: 10vh;
  padding: 0 2%;
  font-size: 25px;
  padding-top: 10px;
  padding-top: 10px;
}
